@import "func.scss";



// SETTERS
.border { border: solid 1px; }
.shadow-lg { @include shadow(0 0 15px 1px); }
.shadow-md { @include shadow(0 0 10px 1px); }
.shadow-sm { @include shadow(0 0 5px 1px); }
.shadow-xs { @include shadow(0 0 1px 1px); }
.text-blue { color: $blue; }
.text-lightblue { color: $lightblue; }
.text-lightestblue { color: $lightestblue; }
.text-darkblue { color: $darkblue; }
.text-darkerblue { color: $darkerblue; }
.text-darkestblue { color: $darkestblue; }
.text-yellow { color: $yellow; }
.text-lightyellow { color: $lightyellow; }
.text-darkyellow { color: $darkyellow; }
.text-gray { color: $gray; }
.bg-blue { background: $blue; }
.bg-lightblue { background: $lightblue; }
.bg-lightestblue { background: $lightestblue; }
.bg-darkblue { background: $darkblue; }
.bg-darkerblue { background: $darkerblue; }
.bg-darkestblue { background: $darkestblue; }
.bg-yellow { background: $yellow; }
.bg-lightyellow { background: $lightyellow; }
.bg-darkyellow { background: $darkyellow; }
.bg-gray { background: $gray; }
.round-circle { @include round(50%); }
.round-lg { @include round(20px); }
.round-md { @include round(15px); }
.round-sm { @include round(10px); }
.round-xs { @include round(5px); }



// GLOBAL
body {
	@extend %nospace;
	font-size: 14px;
	color: $gray;
	background: url('../images/background.jpg') repeat-x top center $gray;
	background-attachment: fixed;
	overflow-x: hidden;
}
a {
	@include transition();
	color: $blue;
	&:hover { color: $lightblue; text-decoration: none; }
}



// TOPHEADER
$topheader-height: 40px;
$topheadersocial-dimension: 28px;
.topheader {
	@extend %nospace;
	@include transition(500ms);
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: $topheader-height;
	line-height: $topheader-height;
	overflow: hidden;
	background: rgba(#000, 0.4);
	z-index: 99999;
	.menubutton {
		.responsivemenubutton {
			width: 100%;
			border: none;
		}
	}
	ul {
		@extend %nospace;
		font-size: 0;
		li {
			display: inline-block;
			font-size: 12px;
			a {
				@include transition(250ms);
				display: block;
				padding: 0px 15px;
				color: #CCC;
				&:hover { color: #FFF; background: $lightblue; }
			}
			&.active a {
				color: #FFF;
				background: $blue;
			}
		}
	}
	.fa {
		@include round(50%);
		@include transition(250ms);
		color: #FFF;
		text-align: center;
		width: $topheadersocial-dimension;
		height: $topheadersocial-dimension;
		line-height: $topheadersocial-dimension;
		&.fa-phone { background: $darkyellow; &:hover { color: $darkyellow; }}
		&.fa-facebook { background: #355db4; &:hover { color: #355db4; }}
		&.fa-twitter { background: #00c6ff; &:hover { color: #00c6ff; }}
		&.fa-youtube { background: #e70031; &:hover { color: #e70031; }}
		&.fa-pinterest { background: #ff0000; &:hover { color: #ff0000; }}
		&:hover { background: #FFF; }
	}
}
.topheader.scrolled {
	height: $topheader-height + 25;
	line-height: $topheader-height + 25;
	background: rgba(#FFF, 0.95);
	a { color: $blue; }
	.fa { color: #FFF; }
}




// RESPONSIVE MENU
.responsive-navigation {
	@extend %nospace;
	@include transition(500ms);
	position: fixed;
	top: -100%;
	left: 0px;
	width: 100%;
	height: 80%;
	line-height: $topheader-height;
	overflow: hidden;
	background: rgba(#000, 0.9);
	z-index: 99998;
	ul {
		@extend %nospace;
		padding: 100px 30px 0px 30px;
		list-style: none;
		li {
			text-align: center;
			a {
				@include round(10px);
				background: rgba(#000, 0.8);
				display: block;
				padding: 5px 20px;
				&:hover {
					background: $darkyellow;
					color: #FFF;
				}
			}
			&.active a {
				background: $blue;
				color: #FFF;
			}
		}
	}
}
.responsive-navigation.show {
	top: 0px;
	ul {
		li {
			a {
			}
		}
	}
}



// LOGO
.logo {
	padding: 80px 0px 60px 0px;
	img { margin: auto; max-width: 280px; }
}



// NAVIGATION
$navigation-height: 75px;
.navigation {
	background: $blue;
	height: $navigation-height;
	line-height: $navigation-height;
	margin-bottom: 10px;
	ul {
		@extend %nospace;
		font-size: 0;
		text-align: center;
		li {
			font-size: 14px;
			display: inline-block;
			a {
				@include transition(300ms);
				color: #FFF;
				display: block;
				line-height: $navigation-height;
				padding: 0px 30px;
				&:hover { background: $lightblue; padding: 0px 35px; }
			}
			&.active a { background: $darkyellow; }
		}
	}
}



// SLIDESHOW
.slideshowcontainer {
	#slideshow {
		img {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			margin: 0 auto;
		}
	}
	.inv { img { width: 100%; } }
}



// MENU
.menu {
	margin-top: 70px;
	background: url('../images/white-half.png') repeat-x bottom center;
	min-height: 171px;
	.menu-container {
		max-width: 940px;
		.menu-item {
			text-align: center;
			padding: 20px;
			margin: 0px;
			margin-bottom: 20px;
			color: #FFF;
			min-height: 150px;
			background: $lightblue;
			font-size: 0.9em;
			.fa {
				@include transition();
				font-size: 5em;
				&:hover { color: #FFF; }
			}
		}
	}
}



// CONTENT
.content {
	background: #FFF;
	padding-top: 35px;
	padding-bottom: 35px;
}



.testimonial {
	blockquote {
	    background: #EEE none repeat scroll 0 0;
	    border: medium none;
	    color: #666;
	    display: block;
	    font-size: 14px;
	    line-height: 20px;
	    padding: 15px;
	    position: relative;
	}
	blockquote::before {
	    width: 0; 
	    height: 0;
		right: 0;
		bottom: 0;
		content: " "; 
		display: block; 
		position: absolute;
	    border-bottom: 20px solid #fff;    
		border-right: 0 solid transparent;
		border-left: 15px solid transparent;
		border-left-style: inset; /*FF fixes*/
		border-bottom-style: inset; /*FF fixes*/
	}
	blockquote::after {
	    width: 0;
	    height: 0;
	    right: 0;
	    bottom: 0;
	    content: " ";
	    display: block;
	    position: absolute;
	    border-style: solid;
	    border-width: 20px 20px 0 0;
	    border-color: #e63f0c transparent transparent transparent;
	}
	.pic {
		float: right;
		width: 100px;
		height: 100px;
		img {
			width: 100%;
		}
	}
	.text {
		float: right;
		margin-top: 5px;
		margin-right: 15px;
	}
	.readmore {
		padding-top: 10px;
		text-align: right;
	}
}
.projects {
	font-size: 0.85em;
	.projects-item {
		background: #23282c;
		color: #FFF;
		margin-bottom: 15px;
		img {
			padding-top: 12px;
			padding-bottom: 12px;
			margin: 0px auto;
		}
	}
	.projects-list {

	}
}



// FOOTER
.footer {
	$minimumheight: 335px;
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 0px 10px;
	font-size: 0.85em;
	color: #FFF;
	.footer-item { padding: 20px; min-height: $minimumheight; }
	a { padding: 2px; color: $lightblue; &:hover { text-decoration: underline; }}
	ul {
		@include clearspace();
		list-style: none;
		li {
			a {
				display: block;
				padding: 4px 8px;
				background: rgba(#FFF, 0.1);
				&:hover {
					background: $yellow;
					color: #FFF;
					text-decoration: none;
					padding-left: 10px;
				}
			}
			&.active {
				background: $lightblue;
				a { color: #FFF; }
			}
		}
	}
	.footer-socialmedia {
		padding: 10px;
		a {
			width: 30px;
			height: 30px;
			line-height: 28px;
			color: #FFF;
			text-align: center;
		}
		& a.fa-facebook { background: #355db4; &:hover { color: #355db4; } }
		& a.fa-twitter { background: #00c6ff; &:hover { color: #00c6ff; } }
		& a.fa-youtube { background: #e70031; &:hover { color: #e70031; } }
		& a.fa-pinterest { background: #ff0000; &:hover { color: #ff0000; } }
		& a.fa:hover { background: #FFF; text-decoration: none; }
	}
}



// OVERRIDE BOOTSTRAP
.btn {
	&.btn-warning {
		@include transition();
		border: none;
		color: $blue;
		background: #FFF;
		&:hover {
			color: #FFF;
			background: $blue;
		}
	}
	&.btn-danger {
		@include transition();
		border: none;
		color: #FFF;
		background: #F00;
		&:hover {
			background: #A10;
		}
	}
}